body{
    background-color: black;
    font-family: 'Open-Sans','sans-serif';
}
#container{
    width: 1000px;
    height: 650px;
    background-color: beige;
    margin: 200px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: dimgray;
    margin: 0 auto;
    top: 50px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
